body{
    color: rgb(180, 178, 178);
}
h5{
    color: rgb(110, 110, 110);
}
h1{
    color: rgb(37, 37, 37);
}
h6{
    color: rgb(90, 90, 90);
}
.boundless{
    color: rgb(248, 77, 9);
}
#firefox{
    color: rgb(60, 255, 0);
}
